/* Base styling */
html, body {
    font-family: 'Open Sans', sans-serif;
    height: 100%;
}

#darkmodebtn {
    display: block;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0.5rem 0.7rem;
    font-size: 1.7rem;
    background: #eef;
    border-top-right-radius: 1rem;
}

body:not(.dark) .show-when-dark {
    display: none;
}

body.dark .show-when-light {
    display: none;
}

body.md #content .advanced::before,
.base-formatting .advanced::before {
    content: 'Advanced: ' !important;
}

body.md #content .note::before,
.base-formatting .note::before {
    content: 'Note: ' !important;
}
