---
layout: default
classes: guide
---
<div class="flex gap-6">
    <nav class="w-[12rem] flex-shrink-0 flex flex-col items-stretch gap-2 bg-slate-50 border-slate-300 dark:bg-slate-950 dark:border-slate-800 border-r-2 pt-7 pb-4 px-4 -mb-6 -ml-4 rounded-bl-xl -mt-4">
        {% for entry in site.data[page.datafile].contents %}
            {% assign pp = site.data[page.datafile].path-prefix | append: entry.path %}
            {% if entry.separator %}<hr class="mt-3 mb-2 h-1">
            {% else %}<a href="{{ entry.path }}" class="{% if entry.bold %}font-semibold{% endif %} {% if page.path contains pp %}opacity-40 text-slate-900 dark:text-slate-200{% endif %}">{{ entry.name }}</a>
            {% endif %}
        {% endfor %}
    </nav>
<div class="max-w-full overflow-x-hidden">
    <h1 id="-" class="text-4xl font-semibold">{% if page.display %}{{ page.display }}{% else %}{{ page.title }}{% endif %}</h1>
    <div class="h-3"></div>

    <div id="content">
    {{ content }}
    </div>
</div>
</div>

{% if site.data[page.datafile].css-file %}
<link href="/{{ site.data[page.datafile].path-prefix | append: site.data[page.datafile].css-file }}" rel="stylesheet" type="text/css" />
{% endif %}
